body {
  min-height: 2000px;
  padding-top: 80px;
  font-family: 'Playfair Display', serif;;
}

nav .container-fluid {
  width: 100%;
  margin: 0;
}c

/* Navigation */
.navbar {
  border-bottom: solid 1px white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.navbar-inverse {
  background-color: rgb(23, 23, 23)
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

.navbar-brand, #subscribe, #subscribe2 {
  background-position: center center;
  background-size: cover;
  height: 75px;
}

.navbar-search {
  width: 71px;
  height: 75px;
  font-size: 22px;
  color: white;
  float: right;
}

#logo-big {
  background-image: url('images/newsweek.png');
  width: 270px;
}

#logo-small {
  background-image: url('images/n.png');
    width: 75px;
}

#subscribe {
  background-image: url('images/subscribe.png');
  width: 176px;
}
#subscribe2 {
  background-image: url('images/subscribe2.png');
  width: 176px;
}
.navbar-header button {
  border: none;
  margin-top: 15px;
}

.navbar-header button:active {
  background-color: rgb(255, 255, 255);
}

.navbar-right > li > div {
  display: inline-block;
  vertical-align: top;
}

.navbar-inverse .navbar-nav>li>a, .navbar-nav>li>div {
  color: white;
.}

#navbar-left {
  text-transform: uppercase;
}

#navbar-left, .navbar-right > li:not(:nth-child(2)) {
  margin-top: 15px;
}

.navbar-right > li:first-child > div:not(:first-child) {
  margin-top: 20px;
}

.navbar-right > li:first-child > div:nth-child(2) {
  font-size: 2rem;
}

.navbar-right > li:first-child {
  margin: 0;
}

.navbar-right > li:first-child > div {
  width: 33%;
}

.navbar .glyphicon {
  font-size: 2rem;
}

.navbar-right > div:last-child {
  width: 120px;
  border-bottom: solid 4px #FF0500;;
}

.navbar-nav>li>div:not(:first-child) {
  margin-top: 15px;
}

@media only screen and (max-width : 768px) {
  .navbar-inverse .navbar-nav>li>a, .navbar-nav>li>div {
    text-align: center;
    font-size: 18px;
    line-height: 2;
  }

  .navbar-inverse .navbar-nav>li>a {
    background-color: #f6f6f6;
    color: #333;
    border-bottom: solid 1px lightgray;
    text-transform: none;
  }
}

.glyphicon-search.form-control-feedback{
  color: gray;
}

/* Body content */
#main, #slideshow {
  max-width: 1440px;
}

/* First and second lead stories */
.main-story img {
  border-bottom: solid 4px #FF0500;
   -webkit-box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
  box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
}

h2, h3, .section {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.main-story .info {
  padding: 20px 90px;
  position: relative;
  display: block;
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
}

.second-lead .info {
  padding: 25px 15px;
  display: block;
}

.section {
  color: #FF0500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  display: block;
}

.main-story, .second-lead, .third {
  text-align: center;
}

.main-story .section, .main-story h3, .seecond-lead .section, .third .section {
  text-transform: uppercase;
}

.main-story .section {
  line-height: 20px;
  font-size: 22px;
}

.main-story h3 {
  font-size: 42px;
  line-height: 38px;
  letter-spacing: -0.25px;
  margin: 0;
  padding: 0;
}

.main-story p, .second-lead p {
  margin: 10px 0;
  letter-spacing: 0.25px;
}

.main-story p {
  line-height: 32px;
  font-size: 27px;
}

.second-lead .section, .third .section {
  font-size: 16px;
  line-height: 20px;
}

.second-lead h3, .third h3 {
  font-size: 26px;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}

.second-lead p, .third p {
  font-size: 17px;
  line-height: 21px;
}

@media only screen and (max-width: 991px) {
  .main-story .section {
    font-size: 16px;
    line-height: 20px;
  }

  .main-story h3 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
  }

  .main-story p {
    font-size: 17px;
    line-height: 21px;
  }

  .main-story .info {
    padding: 25px 15px;
    display: block;
  }

  .second-lead img {
    width: 100%;
  }
}

/* Latest Headlines column */
.latest {
  padding: 30px 0;
}

.latest h2 {
  color: #FF0500;
}

.latest h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 19px;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 991px) {
  .latest-wrapper {
    text-align: center;
    background-color: #F7F7F7;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .latest-wrapper {
    text-align: left;
    background-color: #fff;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.latest {
  width: 100%;
}

.latest ul {
  list-style: none outside none;
  padding-left: 1px;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.latest li {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 15px 15px 19px;
  position: relative;
  display: block;
}

.latest li:not(:first-child) {
  border-top: 1px solid #E5E5E5;
}

.bullet::before {
  content: "■";
  position: absolute;
  top: 15px;
  left: -3px;
  color: #FF0500;
}

.headlines {
  text-align: center;
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background-color: #E5E5E5;
}

.headlines:hover {
  background-color: gray;
}

.headlines {
  width: 100%
}

.third {
  padding: 20px;
}

@media only screen and (max-width: 991px) {
  .third {
    width: 100%;
  }

  .third img {
    width: 100%;
  }

  .third {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media only screen and (min-width: 992px) {
  .third {
    width: 50%;
    border-top: 1px solid #E5E5E5;
  }

  .row .third:not(:first-child) {
    border-left: 1px solid #e5e5e5;
  }

  .row .third:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }
}

@media only screen and (min-width: 1024px) {
  .third {
    width: 25%;
    border-top: 1px solid #E5E5E5;
  }

  .row .third:not(:first-child) {
    border-left: 1px solid #e5e5e5;
  }

  .row .third:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }
}

.third .info {
  padding: 25px;
}

/* In the Magazine */
.block-title {
  width: 100%;
  height: 22px;
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.in-the-mag {
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  background-color: #FF0500;
  height: 3px;
  width: 100%;
  content: "";
}

.in-the-mag-title {
  padding: 0 20px;
  background-color: #fff;
  color: #FF0500;
  font-family: "Playfair Display", serif;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  width: 225px;
  margin: 10px auto;
}

.row.fourth {
    margin-bottom: -100px;
    height: 120px;
}

.fourth div:not(:first-child) {
  border-left: 1px solid #e5e5e5;
}

.photo {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 176px;
}

#six {
  background-image: url('images/6.jpg');
}

#seven {
  background-image: url('images/7.jpg');
}

#eight {
  background-image: url('images/8.jpg');
}

#nine {
  background-image: url('images/9.jpg');
}

/* Slideshow */
#gray {
  background-color: #282828;
  width: 100%;
  height: auto;
}

.fifth {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.fifth img {
  width: 100%;
  position: relative;
  display: block;
}

.fifth h2 {
  color: #00B7FF;
  font-family: "Playfair Display", serif;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 400;
}

#launch-slideshow {
  background-color: #00B7FF;
  line-height: 50px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.fifth p {
  font-size: 16px;
  color: #999;
  font-family: "Source Sans Pro", sans-serif;
}

.fifth strong {
  font-weight: 700;
  color: #fff;
}

.blue {
  color: #00B7FF;
}

#slideshow-count {
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .slide-bottom {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .slide-bottom {
    margin-top: 40px;
  }

  .slide-bottom img {
    float: left;
    width: 236px;
    height: 229px;
    padding-right: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .slide-bottom {
    margin-top: 0px;
  }

  .slide-bottom img {
    float: none;
    padding-right: 0;
    width: 100%;
  }

  .slideshow-info-wrapper {
    display: block;
    width: 100%;
    position: relative;
  }

  .slideshow-info {
    width: 210px;
    position: absolute;
    right: 0;
    display: block;
    padding-right: 10px;
  }
}
