body {
  min-height: 2000px;
  padding-top: 80px;
  font-family: 'Playfair Display', serif;;
}

nav .container-fluid {
  width: 100%;
  margin: 0;
}

/* Navigation */
.navbar {
  border-bottom: solid 1px white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.navbar li {
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-inverse {
  background-color: rgb(23, 23, 23)
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

.navbar-brand, #subscribe, #subscribe2 {
  background-position: center center;
  background-size: cover;
  height: 75px;
}

.navbar-search {
  width: 71px;
  height: 75px;
  font-size: 22px;
  color: white;
  float: right;
}

#logo-big {
  background-image: url('images/newsweek.png');
  width: 270px;
}

#logo-small {
  background-image: url('images/n.png');
    width: 75px;
}

#subscribe {
  background-image: url('images/subscribe.png');
  width: 176px;
}
#subscribe2 {
  background-image: url('images/subscribe2.png');
  width: 176px;
}
.navbar-header button {
  border: none;
  margin-top: 15px;
}

.navbar-header button:active {
  background-color: rgb(255, 255, 255);
}

.navbar-right > li > div {
  display: inline-block;
  vertical-align: top;
}

.navbar-inverse .navbar-nav>li>a, .navbar-nav>li>div {
  color: white;
}

#navbar-left {
  text-transform: uppercase;
}

#navbar-left, .navbar-right > li:not(:nth-child(2)) {
  margin-top: 15px;
}

.navbar-right > li:first-child > div:not(:first-child) {
  margin-top: 20px;
}

.navbar-right > li:first-child > div:nth-child(2) {
  font-size: 2rem;
}

.navbar-right > li:first-child {
  margin: 0;
}

.navbar-right > li:first-child > div {
  width: 33%;
}

.navbar .glyphicon {
  font-size: 2rem;
}

.navbar-right > div:last-child {
  width: 120px;
  border-bottom: solid 4px #FF0500;;
}

.navbar-nav>li>div:not(:first-child) {
  margin-top: 15px;
}

@media only screen and (max-width : 768px) {
  .navbar-inverse .navbar-nav>li>a, .navbar-nav>li>div {
    text-align: center;
    font-size: 18px;
    line-height: 2;
  }

  .navbar-inverse .navbar-nav>li>a {
    background-color: #f6f6f6;
    color: #333;
    border-bottom: solid 1px lightgray;
    text-transform: none;
  }
}

.glyphicon-search.form-control-feedback{
  color: gray;
}

/* Body content */
#main, #slideshow, #current-issue, #footer {
  max-width: 1440px;
}

/* First and second lead stories */
.main-story img {
  border-bottom: solid 4px #FF0500;
   -webkit-box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
  box-shadow: 0px 45px 78px -18px rgba(0,0,0,0.54);
}

h2, h3, .section {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.main-story .info {
  padding: 20px 90px;
  position: relative;
  display: block;
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px;
}

.second-lead .info {
  padding: 25px 15px;
  display: block;
}

.section {
  color: #FF0500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  display: block;
}

.main-story, .second-lead, .third, .fourth {
  text-align: center;
}

.main-story .section, .main-story h3, .seecond-lead .section, .third .section, .fourth .section {
  text-transform: uppercase;
}

.main-story .section {
  line-height: 20px;
  font-size: 22px;
}

.main-story h3 {
  font-size: 42px;
  line-height: 38px;
  letter-spacing: -0.25px;
  margin: 0;
  padding: 0;
}

.main-story p, .second-lead p {
  margin: 10px 0;
  letter-spacing: 0.25px;
}

.main-story p {
  line-height: 32px;
  font-size: 27px;
}

.second-lead .section, .third .section, .fourth .section {
  font-size: 16px;
  line-height: 20px;
}

.second-lead h3, .third h3, .fourth h3 {
  font-size: 26px;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}

.second-lead p, .third p, .fourth p {
  font-size: 17px;
  line-height: 21px;
}

@media only screen and (max-width: 991px) {
  .main-story .section {
    font-size: 16px;
    line-height: 20px;
  }

  .main-story h3 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
  }

  .main-story p {
    font-size: 17px;
    line-height: 21px;
  }

  .main-story .info {
    padding: 25px 15px;
    display: block;
  }

  .second-lead img {
    width: 100%;
  }
}

/* Latest Headlines column */
.latest {
  padding: 30px 0;
}

.latest h2 {
  color: #FF0500;
}

.latest h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 19px;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 991px) {
  .latest-wrapper, .current-wrapper, .most-read-wrapper {
    text-align: center;
    background-color: #F7F7F7;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .latest-wrapper, .current-wrapper, .most-read-wrapper {
    text-align: left;
    background-color: #fff;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .current-wrapper, .most-read-wrapper {
    width: 100%;
  }
}

.latest, .current, .most-read {
  width: 100%;
}

.latest ul, .current ul, .most-read {
  list-style: none outside none;
  padding-left: 1px;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.latest li, .current li, .most-read li {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 15px 15px 19px;
  position: relative;
  display: block;
}

.latest li:not(:first-child), .current li:not(:first-child), .most-read li:not(:first-child) {
  border-top: 1px solid #E5E5E5;
}

.bullet::before {
  content: "■";
  position: absolute;
  top: 15px;
  left: -3px;
  color: #FF0500;
}

.bullet-blue::before {
  content: "■";
  position: absolute;
  top: 15px;
  left: -3px;
  color: rgb(0, 183, 255);
}

.headlines {
  text-align: center;
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  background-color: #E5E5E5;
}

.headlines:hover {
  background-color: gray;
}

.headlines {
  width: 100%
}

.third, .fourth {
  padding: 20px;
}

@media only screen and (max-width: 991px) {
  .third {
    width: 100%;
  }

  .third img {
    width: 100%;
  }

  .third {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media only screen and (min-width: 992px) {
  .third {
    width: 50%;
    border-top: 1px solid #E5E5E5;
  }

  .row .third:not(:first-child) {
    border-left: 1px solid #e5e5e5;
  }

  .row .third:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }
}

@media only screen and (min-width: 1200px) {
  .third {
    width: 25%;
    border-top: 1px solid #E5E5E5;
  }

  .row .third:not(:first-child) {
    border-left: 1px solid #e5e5e5;
  }

  .row .third:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }
}

.third .info {
  padding: 25px;
}

/* In the Magazine */
.block-title {
  width: 100%;
  height: 22px;
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.in-the-mag {
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  background-color: #FF0500;
  height: 3px;
  width: 100%;
  content: "";
}

.in-the-mag-title {
  padding: 0 20px;
  background-color: #fff;
  color: #FF0500;
  font-family: "Playfair Display", serif;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  width: 225px;
  margin: 10px auto;
}
.fourth .info {
  padding: 15px;
}
.row.fourth {
    margin-bottom: 20px;
}

.fourth > div:not(:first-child) {
  border-left: 1px solid #e5e5e5;
}

.photo {
  width: 100%;
  height: 100%;
}


/* Slideshow */
.gray-section {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: auto;
}

.fifth {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

.fifth img {
  width: 100%;
  position: relative;
  display: block;
}

.fifth h2 {
  color: #00B7FF;
  font-family: "Playfair Display", serif;
  font-size: 19px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 400;
}

#launch-slideshow {
  background-color: #00B7FF;
  line-height: 50px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.fifth p {
  font-size: 16px;
  color: #999;
  font-family: "Source Sans Pro", sans-serif;
}

.fifth strong {
  font-weight: 700;
  color: #fff;
}

.blue {
  color: #00B7FF;
}

#slideshow-count {
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .fifth {
    margin-bottom: 20px;
  }

  .slide-bottom {
    text-align: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .fifth {
    margin-bottom: 20px;
  }

  .slide-bottom {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .slide-bottom img {
    float: left;
    width: 236px;
    height: 229px;
    padding-right: 40px;
  }

  .slideshow-info {
    width: auto;
    position: relative;
    text-align: left;
  }

}

@media only screen and (min-width: 1200px) {
  .slide-bottom {
    margin-top: 0px;
  }

  .slide-bottom img {
    float: none;
    padding-right: 0;
    width: 100%;
    height: 100%;
  }

  .slideshow-info-wrapper {
    display: block;
    width: 100%;
    position: relative;
  }

  .slideshow-info {
    width: 210px;
    position: absolute;
    right: 0;
    display: block;
    padding-right: 10px;
  }
}

.section.sponsored {
  color: rgb(0, 183, 255);
}

.info.sponsored {
  border: 1px solid #cdf0ff;
  background-color: #f2fbff
}

#current-issue {
  padding-top: 30px;
  text-align: center;
}

#red-corners {
  height: 30px;
  position: relative;
  width: 120px;
  background-color: #FF0500;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
}

#red-corners::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 10px solid white;
    border-right: 10px solid #FF0500;
    width: 0;
}

#red-corners::after {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid #FF0500;
    width: 0;
}

#red-corners span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  color: #fff;
  position: relative;
  display: block;
  background-color: #FF0500;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#current-issue h2 {
  text-transform: uppercase;
  font-size: 42px;
  line-height: 42px;
  margin: 15px auto 30px auto;
}

#yellow-corners, #black-corners {
  position: relative;
  width: 120px;
  display: block;
  margin: 0;
  color: #000;
}

#yellow-corners {
  height: 30px;
  width: 120px;
  background-color: #F1DF10;
  top: -10px;
  left: -15px;
  padding: 10px 25px;
}

#black-corners {
  background-color: #000;
  height: 10px;
  width: 300px;
}

#yellow-corners::before, #black-corners::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  border-bottom: 10px solid white;
  width: 0;  
}

#yellow-corners::before {
    border-right: 10px solid #F1DF10;
}

#yellow-corners::after, #black-corners::after {
  content: '';
  position: absolute;
  top: 0; right: 0;
}

#yellow-corners::after {
  border-top: 10px solid #ff0500;
  border-left: 10px solid #F1DF10;
}

#black-corners::before {
  border-right: 10px solid #000;
}

#black-corners::after {
  border-top: 10px solid #fff;
  border-left: 10px solid #000;
}

#yellow-corners span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  position: relative;
  display: block;
  width: auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#yellow-corners:hover {
  background-color: #000;
  color: #fff;
}

.sixth {
  padding: 0 20px;
  text-align: left;

}

.subscribe {
  color: #000;
  font-size: 26px;
  line-height: 30px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1.5px;
}

.red {
  color: #FF0500;
}

.gray {
  color: gray;
}

.quote {
  font-size: 30px;
  line-height: 30px;
}

.attribution {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 15px 0;
}

.current li, .most-read li {
  font-weight: 400;
}

.current h3 {
  padding-top: 30px;
  color: #FF0500;
  font-size: 16px;
}

.most-read {
  text-align: left;
}

.most-read h3 {
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  .sixth:last-child {
    border-left:  1px solid #e5e5e5;
  }
}
.most-read ul {
  padding: 0;
}

.sixth .info {
  padding: 15px;
  max-width: 320px;
}

.sixth .info h3 {
  margin-top: 0;
}

#sponsored-sixth {
  display: block;
  position: relative;
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

#sponsored-sixth img {
  padding-top: 20px;
  max-width: 320px;
  width: 100%;
}

.red-border {
  border-top: solid 3px #FF0500;
}

.footer-logo {
  background-image: url('images/footer-newsweek.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 138px;
  height: 40px;
}

.copyright {
  color: #555;
  font-size: 14px;
  line-height: 18px;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
}

.social-links {
  background-image: url('images/footer-social.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 350px;
  height: 50px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.footer-links ul {
  list-style-type: none;
  padding-left: 20px;
}

.footer-links li {
  color: #fff;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 14px;
}

.email-signup {
  display: inline-block;
  position: relative;
  width: 402px;
  height: 50px;
}

.email-signup input.form-control {
  width: 283px;
  height: 50px;
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0;
}

.email-signup span, .email-signup button {
  width: 104px;
  height: 50px;
  border-radius: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: gray;
  color: #fff;
  border: 1px solid gray;
}

.footer {
  padding: 40px 25px;
}

.footer-recent h2 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.footer-subscribe {
  display: block;
  position: relative;
  width: 50%;
  top: -10px;
  left: -20px;
}

.issue-review p {
  font-size: 16px;
  line-height: 20px;
  color: #555;
  font-family: "Source Sans Pro", sans-serif;
}

.issue-review p:first-child {
  color: #fff;
}

.issue-review .red {
  margin-right: 5px;
}

#two .issue-review, #three .issue-review, #four .issue-review {
  margin-top: 30px;
}

.archives {
  width: 25%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .copy-logo {
    border-bottom: 1px solid #555;
  }
  .social {
    border-left: none;
    border-bottom: none;
  }
}
  
@media only screen and (min-width: 768px) {
  .copy-logo {
    border-bottom: none;
  }
  .social {
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    padding-left: 40px;
  }
  
  .footer-recent {
    border-left: 1px solid #555;
    padding-left: 40px;
  }
}