body, html {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: Roboto, arial, sans-serif;
}

.header {
   width: 100%;
   position: fixed;
   top: 0;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline;
}

.container {
  margin-top: 50px;
  max-width: 1066px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  float: left;
  width: 100%;
  margin-right: -400px;
}

.content {
  background: #d3d3d3;
  margin-right: 400px;
  padding: 10px 10px 10px 10px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nonvideo {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  background: #fff;
}

h1 {
  font-family: Roboto, arial, sans-serif;
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 10px 0;
}

.info {
  width: 80%;
  padding-bottom: 3px;
  border-bottom: solid 1px #d3d3d3;
  float: left;
}

.userlogo{
  display: inline-block;
  width: 48px;
  height: 48px;
}

.username {
  display: inline-block;
  height: 48px;
  margin: 0 0 0 5px;
  vertical-align: top;

}

.username p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.subscribe {
  background: red;
  margin-top: 5px;
  color: #fff;
  padding: 3px;
  font-size: 16px;
  border: 0;
  border-radius: 3px;
}

.likes {
  width: 20%;
  border-bottom: solid 3px #167AC6;
  padding-bottom: 0px;
  float: right;
}

.likes h3 {
  text-align: right;
  margin-bottom: 12px;
}

.action {
  clear: both;
}

.sidebar {
  float: right;
  width: 400px;
}

.sidebar-content {
  padding: 10px 10px 10px 0px;
  background: #d3d3d3;
}

.sidebar-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-content li {
  display: block;
  width: 100%;
  background: #fff;
  }

.footer {
  clear: both;
}

